body {
    font-family: 'Courier New', Courier, monospace;
    background: #1c1c1c;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    position: relative;
    background-image:
        linear-gradient(292deg, rgba(0, 212, 255, 0.78) 0%, rgba(1, 5, 40, 0.69) 50%, rgba(63, 94, 150, 0.51) 100%),
        conic-gradient(from 79deg at 45% 80%, rgba(1, 5, 40, 0.37) 9%, rgba(105, 104, 166, 0.33) 32%, rgba(63, 94, 150, 0.59) 72%, rgba(105, 104, 166, 0.70) 87%, rgba(1, 5, 40, 0.56) 93%);
    background-blend-mode: screen, screen;
}

table {
    border: 1px solid #a1a1a1;
    background-color: rgba(255, 255, 255, .1);
    padding: 24px;
    border-radius: 24px;
    backdrop-filter: blur(8px);
    border-spacing: 10px;
}

td {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    margin: .3rem;
}